.button {
    border: none;
    width: 189px;
    height: 48px;
    top: 139px;
    left: 643px;
    border-radius: 15px;
    cursor: pointer;
}

.button_primary {
    background: #4263EB;
    color: #FFFFFF;
    transition: opacity 100ms ease-in-out, background 100ms ease-in-out;
}

.button_primary:hover {
    background: #2342C0;
}

.button_primary:hover:disabled {
    background: #4263EB;
}

.button_secondary {
    background: #7048E8;
    color: #FFFFFF;
    transition: opacity 100ms ease-in-out, background 100ms ease-in-out;
}

.button_secondary:hover:not(:disabled) {
    background: #5028C6;
}

.button_alternate {
    border: 1px solid #ACB5BD;
    background: transparent;
    color: #495057;
    transition: border-color 0.2s ease-in-out;
}

.button_alternate:hover:not(:disabled) {
    border-color: #212429;
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}