.form {
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.input {
    display: block;
    max-width: 350px;
    cursor: text;
}

.input__label {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #ACB5BD;
}

.input__default {
    position: relative;
    overflow: hidden;
}

.input__control {
    width: 100%;
    padding: 15px 17px 15px 25px;
    border: 1px solid #DDE2E5;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
    line-height: 26px;
    text-overflow: ellipsis;
    max-height: 56px;
}

.input__icon {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.input__control_focus {
    border-color: #4263EB;
}

.input__control:focus {
    border-color: #4263EB;
}

.input__control_success:not(:focus) {
    padding-right: 57px;
}

.input__control_invalid:not(:focus) {
    padding-right: 57px;
    border-color: #F03D3E;
}

.input__control_focus:not(:focus) {
    border-color: #DDE2E5;
}

.input__control_invalid:not(:focus) ~ .input__state .input__icon_error {
    display: block;
}

.input__control_success:not(:focus) ~ .input__state .input__icon_ok {
    display: block;
}